/*Header*/
.header__logo{
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.juego__ahorcado {
    border: 1px solid;
}

.juego__letras-correctas{
    border: 1px solid;
}

.juego__letras-incorrectas{
    border: 1px solid;
}

.juego__resultado {
    border: 1px solid;
}

/*Footer*/
.footer{
    height: auto;

    text-align: center;
    
    background: #D8DFE8;
}

.footer__logo{
    width: 24px;
}

.footer__datos-desarrollador{
    display: inline-block;

    font-size: 18px;

    margin: 20px 0 20px 20px;
}

.footer__datos-desarrollador p{
    margin: 0;
}